{
    "development": {
        "REACT_APP_API_REFRESH": ,
        "REACT_APP_API_GRAPHQL": 
    },
    "test": {
        "REACT_APP_API_REFRESH": ,
        "REACT_APP_API_GRAPHQL": 
    },
    "production": {
        "REACT_APP_API_REFRESH": ,
        "REACT_APP_API_GRAPHQL": 
    }
}
