{
    "development": {
        "ACCESS_TOKEN_SECRET": ,
        "REFRESH_TOKEN_SECRET": ,
        "REGISTER_TOKEN_SECRET": ,
        "NODE_ENV": ,
        "HOST": ,
        "USERNAME": ,
        "PASSWORD": ,
        "DATABASE": ,
        "REDIS_HOST": 
    },
    "production": {
        "ACCESS_TOKEN_SECRET": ,
        "REFRESH_TOKEN_SECRET": ,
        "REGISTER_TOKEN_SECRET": ,
        "NODE_ENV": ,
        "HOST": ,
        "USERNAME": ,
        "PASSWORD": ,
        "DATABASE": ,
        "REDIS_HOST": ,
        "REDIS_PASSWORD": 
    }
}
